{% load static %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/theStyles.css' %}">

<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment Post</title>
</head>
<body>
<div class="container">
    <div class="post-comments">

        <form action="{% url 'add_comment' %}" method="post" id="comment-form">
            {% csrf_token %}
            <div class="form-group fv-row">
                <label for="user">Comment as Username</label>
                <input name="user" id="user" class="form-control" rows="3">

            </div>
            <div class="form-group fv-row">
                <label for="comment">Your Comment</label>
                <textarea name="comment" id="comment" class="form-control" rows="3"></textarea>
                <div class="invalid-feedback"></div>
            </div>
            <button type="button" class="btn btn-default" onclick="submitComment($(this))">Comment</button>
        </form>
        <div class="alert-msg"></div>
        <div><h3>Comments</h3></div>
        <div class="row comment-section">

        </div>

    </div>
    <!-- post-comments -->
</div>
<script src="{% static 'js/theScript.js' %}"></script>
<script type="text/javascript">
    var html = '';
    $(document).ready(function(){
      var url = "{% url 'comments' %}"+"?post_id=1"
      $.ajax({
            url: url,
            dataType: 'json',
            success: function(result){
                if(result.success){
                    if(result.data.length > 0){

                        $.each(result.data , function(key,value){
                            return_data = recurse(value)
                            //$('.comment-section').append(return_data)
                            //html=''
                        })
                    }
                }
            },
            type: 'GET'
        });

      function recurse(obj) {

        if(!obj.parent){
            html = '';
            html += '<div class="media media-'+obj.id+'">';
            html += '<div class="media-heading">';
            html += '<button class="btn btn-default btn-xs star-tag" type="button" data-toggle="collapse" data-target="#collapse'+obj.id+'" aria-expanded="false" aria-controls="collapseExample">';
            html += '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>';
            html += '<span class="label label-info">'+obj.user+'</span> '+obj.created_date+' </div>';

            html +='<div class="panel-collapse collapse in" id="collapse'+obj.id+'">';
            html +='<div class="media-left">';
            html +='<div class="vote-wrap">';
            html +='<div class="save-post">';
            html +='<a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>';
            html +='</div>';
            html +='<div class="vote up">';
            html +='<i class="glyphicon glyphicon-menu-up"></i>';
            html +='</div>';
            html +='<div class="vote inactive">';
            html +='<i class="glyphicon glyphicon-menu-down"></i>';
            html +='</div>';
            html +='</div>';
            html +='</div>';

            html +='<div class="media-body media-body-'+obj.id+'">';
            html +='<p>'+obj.comment+'</p>';
            html +='<div class="comment-meta">';
            html +='<span>';
            html +='<a class="" role="button" data-toggle="collapse" href="#replyComment'+obj.id+'" aria-expanded="false" aria-controls="collapseExample">reply</a>';
            html +='</span>';
            html +='<div class="collapse" id="replyComment'+obj.id+'">';
            html +='<form action="{% url 'add_comment' %}" method="post" id="comment-form-'+obj.id+'">';
            html +='<div class="form-group fv-row">';
            html +='<label for="user">Comment as Username</label>';
            html +='<input name="parent_id" type="hidden" value="'+obj.id+'"> ';
            html +='<input name="user" id="user" class="form-control" rows="3">';
            html +='</div>';
            html +='<div class="form-group fv-row">';
            html +='<label for="comment">Your Comment</label>';
            html +='<textarea name="comment" id="comment" class="form-control" rows="3"></textarea>';
            html +='</div>';
            html +='<button type="button" class="btn btn-default" onclick="submitComment($(this))">Comment</button>';
            html +='</form>';
            html +='</div>';
            html +='</div>';

            html += '</div>';
            $('.comment-section').append(html)
            if(obj.replies.length > 0){
                 $.each(obj.replies , function(key,value){
                        recurse(value)
                    })
            }
        }else{

            html = '';
            html += '<div class="media media-'+obj.id+'">';
            html += '<div class="media-heading">';
            html += '<button class="btn btn-default btn-xs star-tag" type="button" data-toggle="collapse" data-target="#collapse'+obj.id+'" aria-expanded="false" aria-controls="collapseExample">';
            html += '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>';
            html += '<span class="label label-info">'+obj.user+'</span> '+obj.created_date+' </div>';

            html +='<div class="panel-collapse collapse in" id="collapse'+obj.id+'">';
            html +='<div class="media-left">';
            html +='<div class="vote-wrap">';
            html +='<div class="save-post">';
            html +='<a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>';
            html +='</div>';
            html +='<div class="vote up">';
            html +='<i class="glyphicon glyphicon-menu-up"></i>';
            html +='</div>';
            html +='<div class="vote inactive">';
            html +='<i class="glyphicon glyphicon-menu-down"></i>';
            html +='</div>';
            html +='</div>';
            html +='</div>';

            html +='<div class="media-body media-body-'+obj.id+'">';
            html +='<p>'+obj.comment+'</p>';
            html +='<div class="comment-meta">';
            html +='<span>';
            html +='<a class="" role="button" data-toggle="collapse" href="#replyComment'+obj.id+'" aria-expanded="false" aria-controls="collapseExample">reply</a>';
            html +='</span>';
            html +='<div class="collapse" id="replyComment'+obj.id+'">';
            html +='<form action="{% url 'add_comment' %}" method="post" id="comment-form-'+obj.id+'">';
            html +='<div class="form-group fv-row">';
            html +='<label for="user">Comment as Username</label>';
            html +='<input name="parent_id" type="hidden" value="'+obj.id+'"> ';
            html +='<input name="user" id="user" class="form-control" rows="3">';
            html +='</div>';
            html +='<div class="form-group fv-row">';
            html +='<label for="comment">Your Comment</label>';
            html +='<textarea name="comment" id="comment" class="form-control" rows="3"></textarea>';
            html +='</div>';
            html +='<button type="button" class="btn btn-default" onclick="submitComment($(this))">Comment</button>';
            html +='</form>';
            html +='</div>';
            html +='</div>';

            html += '</div>';
            $('.media-body-'+obj.parent).append(html)
            if(obj.replies.length > 0){
             $.each(obj.replies , function(key,value){
                    recurse(value)
                })
            }
        }
      }
    })

    function validateForm(form){
        form_id = form.attr('id')
        user = form.find('#user').val()
        comment = form.find('#comment').val()
        valid = true;
        if(user == ''){
            form.find('#user').parent().find('.invalid-feedback').remove()
            form.find('#user').parent().append('<div class="invalid-feedback">Username cannot be empty. </div>')
            valid = false;
        }else{
            form.find('#user').parent().find('.invalid-feedback').remove()
        }

        if(comment == ''){
            form.find('#comment').parent().find('.invalid-feedback').remove()
            form.find('#comment').parent().append('<div class="invalid-feedback">Comment cannot be empty. </div>')
            valid = false;
        }else{
            form.find('#comment').parent().find('.invalid-feedback').remove()
        }
        return valid;
    }

    function submitComment(obj){
        var form = obj.closest("form")
        if(!validateForm(form)){
            return false;
        }
        $.ajax({
            url: "{% url 'add_comment' %}",
            data: form.serialize(),
            dataType: 'json',
            success: function(result){
                if (result.success){

                    html = '<div class="media">';
                    html += '<div class="media-heading">';
                    html += '<button class="btn btn-default btn-xs star-tag" type="button" data-toggle="collapse" data-target="#collapse'+result.data.id+'" aria-expanded="false" aria-controls="collapseExample">';
                    html += '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>';
                    html += '<span class="label label-info">'+result.data.user+'</span> '+result.data.created_date+' </div>';

                    html +='<div class="panel-collapse collapse in" id="collapse'+result.data.id+'">';
                    html +='<div class="media-left">';
                    html +='<div class="vote-wrap">';
                    html +='<div class="save-post">';
                    html +='<a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>';
                    html +='</div>';
                    html +='<div class="vote up">';
                    html +='<i class="glyphicon glyphicon-menu-up"></i>';
                    html +='</div>';
                    html +='<div class="vote inactive">';
                    html +='<i class="glyphicon glyphicon-menu-down"></i>';
                    html +='</div>';
                    html +='</div>';
                    html +='</div>';

                    html +='<div class="media-body">';
                    html +='<p>'+result.data.comment+'</p>';
                    html +='<div class="comment-meta">';
                    html +='<span>';
                    html +='<a class="" role="button" data-toggle="collapse" href="#replyComment'+result.data.id+'" aria-expanded="false" aria-controls="collapseExample">reply</a>';
                    html +='</span>';
                    html +='<div class="collapse" id="replyComment'+result.data.id+'">';
                    html +='<form action="{% url 'add_comment' %}" method="post" id="comment-form-'+result.data.id+'">';
                    html +='<div class="form-group fv-row">';
                    html +='<label for="user">Comment as Username</label>';
                    html +='<input name="parent_id" type="hidden" value="'+result.data.id+'">';
                    html +='<input name="user" id="user" class="form-control" rows="3">';
                    html +='</div>';
                    html +='<div class="form-group fv-row">';
                    html +='<label for="comment">Your Comment</label>';
                    html +='<textarea name="comment" id="comment" class="form-control" rows="3"></textarea>';
                    html +='</div>';
                    html +='<button type="button" class="btn btn-default" onclick="submitComment($(this))">Comment</button>';
                    html +='</form>';
                    html +='</div>';
                    html +='</div>';

                    html += '</div>';

                    if(!result.data.parent){
                        $('.comment-section').prepend(html)
                    }else{
                        obj.parent().parent().parent().append(html)
                        $('[id^=replyComment]').removeClass('in')
                    }
                    form[0].reset()
                }else{
                    $('.alert-msg').html('<span class="alert alert-danger">'+result.message+ '</span>')
                }
            },
            type: 'POST'
        });
    }


</script>
</body>
</html>
